@media (min-width: 1700px) and (max-width: 1799px) 
{
    li .section-title 
    {
        right: 2.5vw;
    }
    .cityTitle 
    {
        top: 9vh;
        left: 1vw;
    }
    #Framings 
    {
        top: 2.2vh;
    }
    #Matters 
    {
        top: 1.8vh;
    }
    #DragonFlies 
    {
        right: 0.5vw;
        width: 6vw;
    }
    #HilsaFish
    {
        right: 1.5vw;
    }
    #Jackfruit 
    {
        right: 1.7vw;
    }
    #Mangos 
    {
        right: 1.8vw;
    }
    #Snakes 
    {
        right: 2vw;
    }
    #Bricks 
    {
        right: 2.8vw;
    }
    #Khals 
    {
        right: 2.9vw;
    }
    #PipesAndPots 
    {
        right: 0.5vw;
        width: 7vw;
    }
    #Tanks 
    {
        right: 2.8vw;
    }
    #Weeds 
    {
        right: 2.7vw;
    }
    #Atmoshere 
    {
        right: -0.5vw;
    }
    #Air 
    {
        right: 1.4vw;
    }
    #Ocean 
    {
        right: 0.6vw;
    }
    #Salt 
    {
        right: 1.2vw;
    }
    #Groundwater 
    {
        right: -0.6vw;
    }
    #Sediment 
    {
        bottom: -21vh;
        right: -0vw;
    }
    #Plastic 
    {
        bottom: -32vh;
        right: 0.6vw;
    }
    #Anemometer 
    {
        right: -1.2vw;
    }
    #AntiCyclone 
    {
        right: -2vw;
        width: 7vw;
    }
    #Argo 
    {
        right: 0.35vw;
    }
    #AtmosphericAerosols 
    {
        right: -5.9vw;
        width: 15vw;
    }
}

@media (min-width: 1600px) and (max-width: 1699px) 
{
    li .section-title 
    {
        right: 2.7vw;
    }
    .cityTitle 
    {
        right: 89.5vw;
        top: 11.3vh;
    }
    #Framings 
    {
        top: 2.5vh;
    }
    #Matters 
    {
        top: 1.9vh;
    }
    #Infrastructure 
    {
        top: 4.2vh;
    }
    #DragonFlies
    {
        right: 1vw;
    }
    #HilsaFish
    {
        right: 1.8vw;
    }
    #Jackfruit 
    {
        right: 2vw;
    }
    #Mangos 
    {
        right: 2.1vw;
    }
    #Snakes 
    {
        right: 2.2vw;
    }
    #Bricks 
    {
        right: 2.8vw;
    }
    #Khals 
    {
        right: 3.2vw;
    }
    #PipesAndPots 
    {
        right: 0.9vw;
        width: 7vw;
    }
    #Tanks 
    {
        right: 3.2vw;
    }
    #Weeds 
    {
        right: 3vw;
    }
    #Atmoshere 
    {
        right: -0.5vw;
    }
    #Air 
    {
        right: 1.4vw;
    }
    #Ocean 
    {
        right: 0.6vw;
    }
    #Salt 
    {
        right: 1.2vw;
    }
    #Groundwater 
    {
        right: -0.3vw;
    }
    #Sediment 
    {
        bottom: -22vh;
        right: -0vw;
    }
    #Plastic 
    {
        bottom: -32vh;
        right: 0.6vw;
    }
    #Anemometer 
    {
        right: -1.5vw;
    }
    #AntiCyclone 
    {
        right: -2vw;
        width: 7vw;
    }
    #Argo 
    {
        right: 0.35vw;
    }
    #AtmosphericAerosols 
    {
        right: -5.9vw;
        width: 15vw;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) 
{
    li .section-title 
    {
        right: 2.9vw;
    }
    .cityTitle 
    {
        right: 88.5vw;
        top: 11.5vh;
    }
    #Framings 
    {
        top: 2.3vh;
    }

    #Matters 
    {
        top: 1.8vh;
    }
    #DragonFlies
    {
        right: 1vw;
    }
    #HilsaFish
    {
        right: 1.8vw;
    }
    #Jackfruit 
    {
        right: 2.1vw;
    }
    #Mangos 
    {
        right: 2.3vw;
    }
    #Snakes 
    {
        right: 2.5vw;
    }
    #Bricks 
    {
        right: 3.4vw;
    }
    #Khals 
    {
        right: 3.2vw;
    }
    #PipesAndPots 
    {
        right: 1vw;
        width: 7vw;
    }
    #Tanks 
    {
        right: 3.2vw;
    }
    #Weeds 
    {
        right: 3vw;
    }
    #Atmoshere 
    {
        right: -0.5vw;
    }
    #Air 
    {
        right: 1.4vw;
    }
    #Ocean 
    {
        right: 0.6vw;
    }
    #Salt 
    {
        right: 1.2vw;
    }
    #Groundwater 
    {
        right: -0.3vw;
    }
    #Sediment 
    {
        bottom: -22vh;
        right: -0.2vw;
    }
    #Plastic 
    {
        bottom: -32vh;
        right: 0.5vw;
    }
    #Anemometer 
    {
        right: -2vw;
    }
    #AntiCyclone 
    {
        right: -2vw;
        width: 7vw;
    }
    #Argo 
    {
        right: 0.35vw;
    }
    #AtmosphericAerosols 
    {
        right: -5.9vw;
        width: 15vw;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
    li .section-title 
    {
        right: 3.2vw;
    }
    .cityName
    {
        line-height: 42px;
        top: 11.5vh;
    }
    #contentTitle
    {
        font-family: 'Roboto', sans-serif;
        font-size: 33px;
        font-weight: 400;
        line-height: 35px;
        width: 28vw;    
    }   
    .content
    {
        top: 35vh;
    }
    .contentText
    {
        font-size: 20px;
        line-height: 18px;
    }
    .cityTitle 
    {
        right: 89vw;
        top: 11.5vh;
    }
    #Infrastructure 
    {
        top: 4.4vh;
    }
    #Framings 
    {
        top: 2.2vh;
    }
    #Matters 
    {
        top: 1.5vh;
    }
    .headingTitle 
    {
        top: 3vh;
    }

    #project
    {
        top: 23vh;
    }
    #calendar
    {
        top: 31vh;
    }
    #residency
    {
        top: 43vh;
    }
    #assemblages
    {
        top: 56vh;
    }
    #DragonFlies
    {
        right: 1.6vw;
    }
    #HilsaFish
    {
        right: 2vw;
    }
    #Jackfruit 
    {
        right: 2.1vw;
    }
    #Mangos 
    {
        right: 2.3vw;
    }
    #Snakes 
    {
        right: 2.5vw;
    }
    #Bricks 
    {
        right: 3.4vw;
    }
    #Khals 
    {
        right: 3.6vw;
    }
    #PipesAndPots 
    {
        right: 1vw;
        width: 7vw;
    }
    #Tanks 
    {
        right: 3.5vw;
    }
    #Weeds 
    {
        right: 3.3vw;
    }
    #Atmoshere 
    {
        right: 0.5vw;
    }
    #Air 
    {
        right: 1.9vw;
    }
    #Ocean 
    {
        right: 1.3vw;
    }
    #Salt 
    {
        right: 1.8vw;
    }
    #Groundwater 
    {
        right: -0.3vw;
    }
    #Sediment 
    {
        bottom: -22vh;
        right: 0.5vw;
    }
    #Plastic 
    {
        bottom: -32vh;
        right: 0.9vw;
    }
    #Anemometer 
    {
        right: -1vw;
    }
    #AntiCyclone 
    {
        right: -2vw;
        width: 7vw;
    }
    #Argo 
    {
        right: 0.7vw;
    }
    #AtmosphericAerosols 
    {
        right: -5.9vw;
        width: 15vw;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
{
    li .section-title 
    {
        right: 3.5vw;
    }
    .cityTitle 
    {
        right: 88vw;
    }
    #Infrastructure 
    {
        top: 3.9vh;
        right: 0.8vw;
    }
    #Framings 
    {
        top: 2vh;
    }
    #Matters 
    {
        top: 1.5vh;
        left: 0.8vw;
    }
    #Interlocutors
    {
        top: 3.5vh;
        right: 0.5vw;
    }
    #DragonFlies
    {
        right: 1.8vw;
    }
    #HilsaFish
    {
        right: 2.4vw;
    }
    #Jackfruit 
    {
        right: 2.7vw;
    }
    #Mangos 
    {
        right: 2.8vw;
    }
    #Snakes 
    {
        right: 3vw;
    }
    #Bricks 
    {
        right: 3.4vw;
    }
    #Khals 
    {
        right: 3.6vw;
    }
    #PipesAndPots 
    {
        right: 1.2vw;
        width: 7vw;
    }
    #Tanks 
    {
        right: 3.5vw;
    }
    #Weeds 
    {
        right: 3.3vw;
    }
    #Atmoshere 
    {
        right: -0.8vw;
    }
    #Air 
    {
        right: 1.3vw;
    }
    #Ocean 
    {
        right: 0.5vw;
    }
    #Salt 
    {
        right: 1.2vw;
    }
    #Groundwater 
    {
        right: -0.5vw;
    }
    #Sediment 
    {
        bottom: -22vh;
        right: 0vw;
    }
    #Plastic 
    {
        bottom: -32vh;
        right: 0.4vw;
    }
    #Anemometer 
    {
        right: -2vw;
    }
    #AntiCyclone 
    {
        right: -2.5vw;
        width: 7vw;
    }
    #Argo 
    {
        right: 0.1vw;
    }
    #AtmosphericAerosols 
    {
        right: -6.5vw;
        width: 15vw;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) 
{
    li .section-title 
    {
        right: 4vw;
    }
    .cityTitle 
    {
        right: 85vw;
        top: 15.5vh;
    }
}

@media (min-height: 600px) and (max-height: 699px)
{
    .headingItem
    {
        font-size: 11px;
        right: 0.15vw;
    }
    .cityTitle 
    {
        position: absolute;
        top: 103px;
    }
    #Infrastructure 
    {
        top: 9.5vh;
    }
    #Framings 
    {
        top: 6.5vh;
    }
    #Matters 
    {
        top: 5.5vh;
    }
    #Interlocutors
    {
        top: 9vh;
        right: 0.5vw;
    }
    .tabSubtitles
    {
        font-size: 12px;
    }

} 

@media (min-height: 700px) and (max-height: 799px)
{
    .headingItem
    {
        font-size: 11px;
        right: 0.15vw;
    }
    .cityTitle 
    {
        position: absolute;
        top: 90px;
    }
    li .section-title {
        bottom: 39.5vh;
        font-size: 12px;
    }
    .tabSubtitles
    {
        font-size: 12px;
    }
    #Infrastructure 
    {
        top: 1.5vh;
    }
    #Framings 
    {
        top: -0.8vh;
    }
    #Matters 
    {
        top: -1.5vh;
    }
    #Interlocutors
    {
        top: 1vh;
        right: 0.5vw;
    }
}