* 
{
    box-sizing: border-box;
}
html
{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body 
{
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;
}
.headings
{
    position: absolute;
    bottom: 0.5vh;
    width: 3vw;
    height: 100vh;
    border-right: 3px solid black;
    padding: 0;
    margin: 0;
}
.headingTitle
{
    margin: 10px;
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top:5vh;
    right: 0vw;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.headingItem
{
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top: 25vh;
    right: 0vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#project
{
    top: 30vh;
}
#calendar
{
    top: 38vh;
}
#residency
{
    top: 50vh;
}
#assemblages
{
    top: 62vh;
}
#mainSection
{
    width: 55vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 5.5vw;
    bottom: 0.5vh;
    overflow-x: hidden;
}
#mainSection::-webkit-scrollbar 
{
    display: none;
}
.cityTitle
{
    margin: 10px;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    top: 11.3vh;
    right: 91vw;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
#cityHeadings
{
    position: relative;
    top: 30vh;
    left: 1vw;
    font-family: 'Sora', sans-serif;
}
.cityName
{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    line-height: 63px;
    position: absolute;
    left: 0.5vw;
    top: 9vh;
}
.content
{
    position: relative;
    width: 26vw;
    height: 100vh;
    left: 28vw;
    top: 33vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
}
#contentTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    width: 25vw;    
}
.contentText
{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}
#accordianSection
{
    position: relative;
    width: 100%;
    left: 66vw;
    bottom: 0.5vw;
    margin: 0;
    padding: 0;

}
.tabSubtitles
{
    position: absolute;
    transform: rotate(90deg);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#DragonFlies
{
    bottom: 26vh;
    right: 0.8vw;
}
#HilsaFish
{
    bottom: 15vh;
    right: 1.3vw;
}
#Jackfruit
{
    bottom: 5vh;
    right: 1.6vw;
}
#Mangos
{
    bottom: -5vh;
    right: 1.7vw;
}
#Snakes
{
    bottom: -15vh;
    right: 1.8vw;
}
#Bricks
{
    bottom: 28.2vh;
    right: 2.5vw;
}
#Khals
{
    bottom: 20vh;
    right: 2.6vw;
}
#PipesAndPots
{
    bottom: 10vh;
    right: 1.2vw;
    width: 5vw;
}
#Tanks
{
    bottom: 0vh;
    right: 2.6vw;
}
#Weeds
{
    bottom: -8vh;
    right: 2.5vw;
}
#Atmoshere
{
    bottom: 26.3vh;
    right: -0.5vw;
}
#Air
{
    bottom: 17vh;
    right: 1vw;
}
#Ocean
{
    bottom: 10vh;
    right: 0.4vw;
}
#Salt
{
    bottom: 2vh;
    right: 1vw;
}
#Groundwater
{
    bottom: -8vh;
    right: -0.8vw;
    width: 5vw;
}
#Sediment
{
    bottom: -20vh;
    right: 0vw;
}
#Plastic
{
    bottom: -30vh;
    right: 0.5vw;
}
#Anemometer
{
    bottom: 25.5vh;
    right: -1.5vw;
}
#AntiCyclone
{
    bottom: 11vh;
    right: -1.5vw;
    width: 5vw;
}
#Argo
{
    bottom: 0vh;
    right: 0vw;
}
#AtmosphericAerosols
{
    bottom: -15vh;
    right: -6.5vw;
    width: 15vw;
}
ul 
{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li 
{
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 3vw;
    border-left: 3px solid black;
}
li:hover 
{
    background: #eeeeee;
}
li.active 
{
    background: white;
    cursor: default;
    width: 25vw;
}
li.active h2 {
    color: black;
}
li.active .section-content 
{
    opacity: 1;
    color: black;
    position: relative;
    right: 2vw;
}
.text
{
    width: 15vw;
}
li .section-title 
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    position: relative;
    right: 2vw;
    bottom: 44.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
li .section-title h2 
{
    margin: 0;
    transform: rotate(90deg);
    white-space: nowrap;
}
li .section-content 
{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
}
a
{
    color: black;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  #Interlocutors
  {
      position: relative;
      top: 4vh;
      right: 0.3vw;
  }

  #Infrastructure
  {
      position: relative;
      top: 4vh;
      right: 0.5vw;
  }

  #Framings
  {
      position: relative;
      top: 2.2vh;
      left: 0.5vw;
  }

  #Matters
  {
      position: relative;
      top: 1.8vh;
      left: 0.5vw;
  }

  .subtitleContainer
  {
      display: inline;
  }