* 
{
    box-sizing: border-box;
}
body 
{
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    overflow: hidden;
    background-color: #ededed;
}
.headings
{
    position: absolute;
    bottom: 0.5vh;
    width: 5vw;
    height: 100vh;
    border-right: 3px solid black;
    padding: 0;
    margin: 0;
}
.headingTitle
{
    margin: 10px;
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top:10vh;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.headingItem
{
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top: 25vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#project
{
    top: 30vh;
}
#calendar
{
    top: 38vh;
}
#residency
{
    top: 50vh;
}
#assemblages
{
    top: 62vh;
}
#mainSection
{
    width: 55vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 5.5vw;
    bottom: 0.5vh;
    overflow-x: hidden;
}
#mainSection::-webkit-scrollbar 
{
    display: none;
}
.cityTitle
{
    margin: 10px;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    top: 14.5vh;
    right: 87.5vw;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
#cityHeadings
{
    position: relative;
    top: 30vh;
    left: 1vw;
    font-family: 'Sora', sans-serif;
}
.cityName
{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    line-height: 63px;
    position: relative;
    left: 0.5vw;
    top: 9vh;
}
.content
{
    position: relative;
    width: 26vw;
    height: 100vh;
    left: 28vw;
    top: 20vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
}
#contentTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    width: 25vw;    
}
.contentText
{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}
#accordianSection
{
    position: relative;
    width: 100%;
    left: 66vw;
    bottom: 0.5vw;
    margin: 0;
    padding: 0;

}
ul 
{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li 
{
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #ededed;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 3vw;
    border-left: 3px solid black;
}
li:hover 
{
    background: #e2e2e2;
}
li.active 
{
    background: #ededed;
    cursor: default;
    width: 25vw;
}
li.active h2 {
    color: black;
}
li.active .section-content 
{
    opacity: 1;
    color: black;
    position: relative;
    right: 2vw;
}
.text
{
    width: 15vw;
}
li .section-title 
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    position: relative;
    right: 2vw;
    bottom: 40vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
li .section-title h2 
{
    margin: 0;
    transform: rotate(90deg);
    white-space: nowrap;
}
li .section-content 
{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
}
a
{
    color: black;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e2e2e2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  #Interlocutors
  {
      position: relative;
      top: 4vh;
      right: 0.3vw;
  }

  #Infrastructure
  {
      position: relative;
      top: 4vh;
      right: 0.5vw;
  }

  #Framings
  {
      position: relative;
      top: 2.2vh;
      left: 0.5vw;
  }

  #Matters
  {
      position: relative;
      top: 1.8vh;
      left: 0.5vw;
  }